[
    (
        name: "dirt",
        pos: [0,0],
    ),
    (
        name: "grass",
        pos: [1,0],
    ),
    (
        name: "sand",
        pos: [2,0],
    ),
    (
        name: "stone",
        pos: [3,0],
    )
]